.dlgtitle {
  color: green;
  margin-left: 10px;
  font-size: small;
}

.txt {
  padding: 0px 10px 0px 10px;
}

.mytxt {
  padding: 0px 10px 0px 10px;
}

.downtxt {
  text-align: center;
  font-size: smaller;
  color: green;
  margin-bottom: 10px;
}
